version: 2.1
jobs:
    build:
        working_directory: ~/demo-gh-pages
        docker:
            - image: circleci/buildpack-deps:20.04
        environment:
            DEBIAN_FRONTEND: "noninteractive"
        steps:
            - checkout # check out the code in the project directory
            - run:
                name: Install missing packages and required dependencies
                command: |
                    sudo apt-get update && sudo apt-get install -y wget vim ssh git python3 python3-pip libboost-all-dev libz3-dev cmake
            - run:
                name: Use pip to install latest capstone and lief libraries
                command: pip3 install capstone lief tensorflow
            - run:
                name: Clone River and it's submodules
                command: cd .. && git clone --recursive https://github.com/AGAPIA/river.git
            - run:
                name: Build Triton
                command: |
                    cd /home/circleci/river/River3/ExternalTools/Triton && mkdir build && cd build && \
                    PYTHON_PACKAGES=$(pip3 show capstone | grep Location | cut -f 2 -d ' ') && \
                    CAPSTONE_INCLUDE_DIRS=${PYTHON_PACKAGES}/capstone/include/ \
                    CAPSTONE_LIBRARIES=${PYTHON_PACKAGES}/capstone/lib/libcapstone.so \
                    cmake .. && \
                    make -j2 && \
                    sudo make install && \
                    sudo ln -s ${PYTHON_PACKAGES}/capstone/lib/libcapstone.so ${PYTHON_PACKAGES}/capstone/lib/libcapstone.so.4
            - run:
                name: Run tests
                command: |
                    cd /home/circleci/river/River3/TestPrograms && \                    
                    gcc -g -O0 -o crackme_xor crackme_xor.c && \
                    cd ../python && \
                    python3 concolic_GenerationalSearch2.py --binaryPath "../TestPrograms/crackme_xor" \
                                                            --architecture x64 \
                                                            --maxLen 1 \
                                                            --targetAddress 0x11d3 \
                                                            --logLevel CRITICAL \
                                                            --secondsBetweenStats 10 \
                                                            --outputType textual
                                                            --outputType textual && \
                    python3 concolic_RLGenerationalSearch.py --binaryPath "../TestPrograms/crackme_xor" \
                                                             --architecture x64 \
                                                             --maxLen 1 \
                                                             --targetAddress 0x11d3 \
                                                             --logLevel CRITICAL \
                                                             --secondsBetweenStats 10 \
                                                             --outputType textual
