version: 2.1
jobs:
    build:
        working_directory: ~/demo-gh-pages
        machine:
            docker_layer_caching: true
        steps:
            - checkout # check out the code in the project directory
            - run:
                name: Clone River and it's submodules
                command: cd .. && git clone --recursive https://github.com/AGAPIA/river.git
            - run:
                name: Check home dir
                command: ls /home/circleci
            - run:
                name: Use docker to build test image
                command: cd ../river/docker && sudo make build
            
