version: 2.1
jobs:
    build:
        working_directory: ~/demo-gh-pages
        docker:
            - image: circleci/buildpack-deps:20.04
        environment:
            DEBIAN_FRONTEND: "noninteractive"
        steps:
            - checkout # check out the code in the project directory
            - setup_remote_docker:
                version: 19.03.13
            - run:
                name: Clone River and it's submodules
                command: cd .. && git clone --recursive https://github.com/AGAPIA/river.git
            - run:
                name: Check home dir
                command: ls /home/circleci
            - run:
                name: Use docker to build test image
                command: sudo make -C ../river/docker/ build
            
